<div class="row">
	<div class="large-12 columns">
		<h2 id="linkheader">Helpful Links</h2>
		<ul class="custom-list-class">
  			<li><a href="#">Link 1</a></li>
  			<li><a href="#">Link 2</a></li>
  			<li><a href="#">Link 3</a></li>
		</ul>
	</div>
</div>