/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
body {
	background-color: #faf6d5;
}

a {
	color: #74955E;
}

a:hover{
	color: #1B322A;
}

a:visited{
	color: #2C4F39;
}

nav.top-bar{
	background: linear-gradient(#C4CC83, #9ba544);
	box-shadow: 2px 2px 5px #888888;

}

nav.pagination{
	text-align: center;
}

.top-bar-section li:not(.has-form) a:not(.button){
	background: linear-gradient(#C4CC83, #9ba544);
}

.logo{
	padding-left: 20px;
	padding-top: 1px;
}

.custom-list-class li {
	list-style-type: none;
}

#loginheader {
	text-align: center;
}

#signupheader {
	text-align: center;
}

.error{
	color: red;
	font-style: italic;
	font-size: 1.2em;
}

.postdate{
	font-size: 0.7em;
}

.person{
	font-weight: bold;
}

.stateheader{
	text-shadow: 2px 2px 5px #888888;
}

#linkheader{
	text-shadow: 2px 2px 5px #888888;
}

.alphaheader{
	text-shadow: 2px 2px 5px #888888;
}

.e-button {
	list-style-type: none;
	display: inline-block;
	margin-left: -17px;
}

.d-button {
	list-style-type: none;
	display: inline-block;
	padding-left: 30px;
}

#scroll {
	text-align: center;
}

.alert {
	color: red;
	font-style: italic;	
	font-size: 13px;
}