<div class="row">
    <div class="large-12 columns">
    	<h2 class="stateheader">Alabama</h2>
    	<% @reports.each do |report| %>
    		<hr>
    		<p>This report is about:</p> <%= report.person %>
    		<%= report.content %>
    	<% end %>
    </div>
</div>