<div class="row">
    <div class="large-12 columns">
    	<!-- TODO: Add dropdown list for mobile users/others -->
    	<img src="../../assets/placeholdermap.png" alt="USA Map">
    </div>
</div>