<footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div id="scroll"><a onclick="scroll(0,0)">Top of Page</a><br></div>
        <div class="large-6 columns">
          <p>© The National Foundation for Family Law Reform</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
