<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <img src="../../assets/logot+.png" width="170" class="logo">
      <!-- <h1><a href="/">National Foundation for Family Law Reform</a></h1> -->
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="/links">Helpful Links</a></li>
      <li><a href="/reports">Reports by State</a></li>
      <% if !session[:user_id] %>
        <li><a href="/login">Login/Signup</a></li>
      <% else %>
        <li><a href="/reports/new">Create a Report</a></li>
        <li><a href="/logout">Log Out</a></li>
      <% end %>
    </ul>
  </section>
</nav>